<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

 
    <ng-container *ngIf="accountService.currentUser$ | async as user; else guest">
  
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Ghép đôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Yêu thích</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Tin nhắn</a>
        </li>
      </ul>

      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Chào, {{ user.username | titlecase}}</a>
        <ul class="dropdown-menu mt-3" *dropdownMenu>
          <li><a routerLink="member/edit" class="dropdown-item">Thông tin</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()">Đăng xuất</a></li>
        </ul>
      </div>
    </ng-container>


    <ng-template #guest>
      <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
        <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Tên người dùng">
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Mật khẩu">
        <button class="btn btn-secondary" type="submit" style="white-space: nowrap;">Đăng nhập</button>
      </form>
    </ng-template>
  </div>
</nav>
